/* リセットと基本設定 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
span,
p,
button {
	display: block;
}

/*ヘッダー*/
header {
	display: flex;
	/* 横並びにする */
	justify-content: space-between;
	/* 左右に分ける！ */
	align-items: center;
	/* 縦中央揃え */
	padding: 10px 20px;
	/* 任意：余白調整 */
	background-color: #0067C6;
}


.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.username {
	margin-right: 10px;
	font-size: 24px;
}

.header-icon img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}




/*アコーディオンメニュー*/
.accordion {
	position: relative;
	display: inline-block;
}

.accordionBtn {
	cursor: pointer;
	background-color: #0067C6;
	border: none;
	padding: 8px 16px;
	font-size: 16px;
}

.accordion-content {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
	width: 150px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-content li {
	border-bottom: 1px solid #eee;
}

.accordion-content li:last-child {
	border-bottom: none;
}

.accordion-content a {
	display: block;
	padding: 10px;
	color: #333;
	text-decoration: none;
}

.accordion-content a:hover {
	background-color: #f9f9f9;
}