/*サイド*/
#row {
	display: flex;
	/* 横並びにする */
	justify-content: space-between;
	/* 両端に寄せる */
	align-items: flex-start;
	/* 上揃えにする */
	padding: 20px;
}

#container {
	flex: 1;
	/* 残りの幅を全部使う */
	margin-right: 20px;
	/* サイドバーとの隙間 */
}

.side-bar {
	width: 320px;
	/* サイドバーの幅 */
	position: fixed;
	/* 固定表示 */
	top: 90px;
	/* ヘッダーの高さに合わせて下にずらす */
	right: 0;
	/* 右端に固定 */
	z-index: 999;
	/* 前面表示 */
}

.side-username {
	padding-left: 20px;
	padding-top: 20px;
	font-size: 14px;
}

.side-following {
	display: flex;
	flex-direction: column;
	/* 上下に並べる */
	gap: 5px;
	/* 上下の隙間 */
	padding-left: 20px;
	/* 左余白 */
}

.side-following-number {
	padding-top: 20px;
	display: flex;
	/* 横並びにする */
	gap: 60px;
	/* 文字と数字の間隔 */
	font-size: 14px;
	align-items: center;
	/* 縦中央揃え */
}

.side-following-button {
	padding-top: 20px;
    padding-left: 150px;
}

.side-followingBtn {
	background-color: #0067C6;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease; /* ホバー時に滑らかに変化 */
	width: 130px;
	height: 40px;
}

.side-followed-number {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	/* 横並びにする */
	gap: 45px;
	/* 文字と数字の間隔 */
	font-size: 14px;
	align-items: center;
	/* 縦中央揃え */
}

.side-followed-button {
	padding-top: 20px;
	padding-left: 170px;
	padding-bottom: 30px;
}

.side-followedBtn {
	background-color: #0067C6;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease; /* ホバー時に滑らかに変化 */
	width: 130px;
	height: 40px;
}

.side-search {
	padding-top: 20px;
	padding-left: 100px;
	padding-bottom: 30px;
}

.side-searchBtn {
	background-color: #0067C6;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	transition: background-color 0.3s ease; /* ホバー時に滑らかに変化 */
}

/* ホバー時 */
.side-followingBtn:hover,
.side-followedBtn:hover,
.side-searchBtn:hover {
    background-color: #4D90D4;
}