<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>フォローリスト</title>
	<link rel="stylesheet" href="/css/following.css">
</head>

<body>
	<header th:replace="header"></header>
	<div class="following-container">
		<!--左寄せ-->
		<div class="left-container">
			<!--フォローしている人のリスト-->
			フォローリスト
			<div class="following-list" th:each="follow : ${followingList}">
				<!-- フォローしているユーザーの情報を表示 -->
				<img th:src="@{/images/icon-images/{icon}(icon=${follow.followed.iconPath})}" width="80">
			</div>
			<hr />
			<!--フォローしている人の投稿-->
			<div class="following-post" th:each="post : ${postList}">
				<!-- プロフィール画像 -->
				<img th:src="@{/images/icon-images/{icon}(icon=${post.user.iconPath})}" class="icon" alt="プロフィール画像"
					width="100">

				<!-- ユーザー名と投稿内容と更新時間 -->
				<p th:text="${post.user.username}">ユーザー名</p>
				<p th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">作成日</p>
				<p th:text="${post.post}">投稿内容</p>
			</div>
			<hr />
		</div>
		<!--右寄せ-->
		<div class="right-container">
			<div th:replace="side :: sidebar"></div>
		</div>
	</div>
</body>

</html>