<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>フォローリスト</title>
	<link rel="stylesheet" href="/css/following.css">
	<link rel="stylesheet" href="/css/side.css">
</head>

<body>
	<header th:replace="header"></header>
	<div class="following-container">
		<!--左寄せ-->
		<div class="left-container">
			<!-- 横並びラッパー -->
			<div class="following-list-row-header">
			    <p class="following-list-text">フォローリスト</p>

			    <div class="following-icons">
			        <div class="following-list" th:each="follow : ${followingList}">
			            <a th:href="@{/profile/{id}(id=${follow.followed.id})}">
			                <img th:src="@{/images/icon-images/{icon}(icon=${follow.followed.iconPath})}"
			                     class="following-lists">
			            </a>
			        </div>
			    </div>
			</div>



			<hr class="following-list-hr">


			<!--フォローしている人の投稿-->
			<div class="following-post"></div>
			<div th:each="post : ${postList}" class="following-post-block">
				<!-- 左：アイコン -->
				<a th:href="@{/profile/{id}(id=${post.user.id})}">
					<img th:src="@{/images/icon-images/{icon}(icon=${post.user.iconPath})}" class="following-post-icon"
						alt="プロフィール画像" width="100">
				</a>
				<!-- 右：投稿内容 -->
				<div class="following-post-content">
					<!-- ユーザー名＋日時 -->
					<div class="following-post-user-createdAt">
						<p th:text="${post.user.username}" class="following-post-username">ユーザー名</p>
						<p th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"
							class="following-post-createdAt">作成日</p>
					</div>

					<!-- 投稿本文 -->
					<div class="following-posts">
						<p th:text="${post.post}">投稿内容</p>
					</div>

				</div>
				<hr />
			</div>
		</div>
		<!--右寄せ-->
		<div class="right-container">
			<div th:replace="side :: sidebar"></div>
		</div>
	</div>
</body>

</html>