<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
</head>
<link rel="stylesheet" href="/css/login.css">

<body>

	<div class="images-box">
		<img src="/images/css-images/atlas.png" class="atlas-logo" alt="アトラスロゴ">
		<h1>Social Network Service</h1>
	</div>


	<div class="login-box">
		<p class="title">AtlasSNSへようこそ</p>
		<form action="/login" method="post">
			<div class="mail-wrapper">
				<p class="mail-text">メールアドレス</p>
				<input type="text" name="mail">
				<span th:text="${mailMessage}" class="error-message"></span>
			</div>
			<div class="password-wrapper">
				<p class="password-text">パスワード</p>
				<input type="text" name="password" id="login-password">
				<span th:text="${passwordMessage}" class="error-message"></span>
				<span th:text="${message}" class="error-message"></span>
			</div>
			<button>ログイン</button>
		</form>

		<a href="/users/new" class="create">新規ユーザーの方はこちら</a>
	</div>
</body>

</html>