<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>相手のプロフィール</title>
	<link rel="stylesheet" href="/css/otherProfile.css">
	<link rel="stylesheet" href="/css/side.css">
</head>

<body>
	<header th:replace="header"></header>
	<div class="other-profile-container">
		<!--左寄せ-->
		<div class="left-container">
			<div class="other-profile">
				<!-- 左：アイコン -->
				<div class="other-profile-icon">
					<img th:src="@{/images/icon-images/{icon}(icon=${targetUser.iconPath})}" alt="プロフィール画像"
						class="other-profile-img">
				</div>

				<!-- 右：ユーザー情報まとめ -->
				<div class="other-info">
					<div class="other-name">
						<p class="other-profile-text-username">ユーザー名</p>
						<p th:text="${targetUser.username}" class="other-profile-text-username"></p>
					</div>
					<div class="other-bio-followBtn">
						<!-- 自己紹介ラベル -->
						<p class="other-profile-text">自己紹介</p>

						<!-- 自己紹介の内容 -->
						<p th:text="${targetUser.bio}" class="other-profile-text"></p>

						<!-- フォローボタン -->
						<form th:action="@{${isFollowing} ? '/unfollow/' + ${targetUser.id} : '/follow/' + ${targetUser.id}}"
						      method="post" class="follow-form">
						    <button type="submit"
						            th:classappend="${isFollowing} ? 'unfollow-btn' : 'follow-btn'"
						            th:text="${isFollowing} ? 'フォロー解除' : 'フォローする'">
						    </button>
						</form>
					</div>
				</div>
			</div>
			<hr class="other-profile-hr">

			<!-- 相手の投稿 -->
			<div th:each="post : ${posts}" class="other-post-block">
				<!-- 左：プロフィール画像 -->
				<img th:src="@{/images/icon-images/{icon}(icon=${post.user.iconPath})}" class="other-post-icon"
					alt="プロフィール画像">

				<!-- 右：投稿内容 -->
				<div class="other-post-content">
					<!-- ユーザー名＋日時 -->
					<div class="other-post-user-createdAt">
						<p class="post-username" th:text="${post.user.username}">ユーザー名</p>
						<p class="other-post-createdAt"
							th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">作成日</p>
					</div>

					<!-- 投稿本文 -->
					<div class="other-posts">
						<p th:text="${post.post}">投稿内容</p>
					</div>
				</div>
			</div>
		
		</div>
		<!--右寄せ-->
		<div class="right-container">
			<div th:replace="side :: sidebar"></div>
		</div>
	</div>
</body>

</html>