<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規アカウント登録完了</title>
		<link rel="stylesheet" href="/css/registerAccount.css">
</head>

<body>
	<div class="images-box">
		<img src="/images/css-images/atlas.png" class="atlas-logo" alt="アトラスロゴ">
		<h1>Social Network Service</h1>
	</div>

	<div class="register-box">
		<p th:text="${user.username+'さん'}"class="title"></p>
		<p class="title">ようこそ!AtlasSNSへ</p><br />

		<p class="text">ユーザー登録が完了いたしました。</p>
		<p class="text">早速ログインしてみましょう！</p>
		<div class="button-container">
			<form action="/login" method="get" class="login">

				<button class="button" type="submit">
					ログイン画面へ
				</button>
			</form>
		</div>
</body>

</html>