<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>検索画面</title>
	<link rel="stylesheet" href="/css/search.css">
	<link rel="stylesheet" href="/css/side.css">
</head>

<body>
	<!-- ヘッダー -->
	<header th:replace="header"></header>

	<div class="search-container">
		<!-- 左側（検索フォーム＋ユーザーリスト） -->
		<div class="left-container">
			<div class="search">

				<!-- 検索フォーム -->
				<form action="/search" method="post">
					<input type="text" name="key" class="search-input" placeholder="ユーザー名">
					<button type="submit" class="search-button">
						<img src="/images/css-images/search.png" class="search-img" alt="検索">
					</button>
					<span th:text="${searchMessage}" class="error-message"></span>
				</form>
				<!-- 検索キーワードの表示 -->
					<div th:if="${key != null and key != ''}" class="search-result-key">
						<p class="key-text"th:text="'検索ワード : '+${key}"></p>
					</div>
			</div>
			<hr class="search-hr">

			<!-- 検索結果リスト -->
			<div class="user-list" th:if="${userList != null}">
				<div th:each="user : ${userList}" class="user-block">

					<!-- 左側（アイコン＋ユーザー名） -->
					<div class="user-info">
						<img th:src="@{/images/icon-images/{icon}(icon=${user.iconPath})}" class="icon" alt="プロフィール画像">
						<p th:text="${user.username}">ユーザー名</p>
					</div>

					<!-- 右側（フォローボタン） -->
					<form th:action="@{${isFollowingMap[user.id]} 
					                    ? '/unfollow/' + ${user.id} 
					                    : '/follow/' + ${user.id}}" method="post">
					    <button type="submit"
					            th:classappend="${isFollowingMap[user.id]} ? 'unfollow-btn' : 'follow-btn'"
					            th:text="${isFollowingMap[user.id]} ? 'フォロー解除' : 'フォローする'">
					    </button>
					</form>


				</div>
			</div>

		</div>


		<!-- 右側（サイドバー） -->
		<div class="right-container">
			<div th:replace="side :: sidebar"></div>
		</div>
	</div>
</body>

</html>