<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/side.css">
</head>

<body>
	<div class="side-bar" th:fragment="sidebar">
		<div class="side">
			<p th:text="${user.username + 'さんの'}"></p>
			<!--フォロー-->
			<div class="following">
				<p>フォロー数</p>
				<p>○○人</p>
				<a href="/following">
					<button class="followingBtn">
						フォローリスト
					</button>
				</a>
			</div>
			<!--フォロワー-->
			<div class="followed">
				<p>フォロワー数</p>
				<p>○○人</p>
				<a href="/followed">
					<button class="followedBtn">
						フォロワーリスト
					</button>
				</a>
			</div>
			<hr />
			<!--ユーザー検索-->
			<div class="search">
				<form action="/search" method="get">
					<button class="searchBtn">
						<span>ユーザー検索</span>
					</button>
				</form>

			</div>
		</div>

	</div>

</body>

</html>