<!DOCTYPE html>up
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/side.css">
</head>

<body>
	<div class="side-bar" th:fragment="sidebar">
		<div class="side">
			<p th:text="${user.username + 'さんの'}" class="side-username"></p>
			<!--フォロー-->
			<div class="side-following">
				<!-- 上段：フォロー数 -->
				<div class="side-following-number">
					<span>フォロー数</span>
					<span th:text="${followCount+'人'}">0</span>
				</div>

				<!-- 下段：ボタン -->
				<form action="/following" method="get" class="side-following-button">
					<button class="side-followingBtn">フォローリスト</button>
				</form>
			</div>
			<!--フォロワー-->
			<div class="side-followed">
				<!-- 上段：フォロー数 -->
				<div class="side-followed-number">
					<span>フォロワー数</span>
					<span th:text="${followerCount+'人'}">0</span>
				</div>
				<!-- 下段：ボタン -->
				<form action="/followed" method="get" class="side-followed-button">
					<button class="side-followingBtn">フォローリスト</button>
				</form>
			</div>
			<hr />
			<!--ユーザー検索-->
			<div class="side-search">
				<form action="/search" method="get">
					<button class="side-searchBtn">
						<span>ユーザー検索</span>
					</button>
				</form>

			</div>
		</div>

	</div>

</body>

</html>