<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>マイプロフィール</title>
	<link rel="stylesheet" href="/css/profile.css">
</head>

<body>
	<header th:replace="header"></header>
	<div class="profile-container">
		<!--左寄せ-->
		<div class="left-container">
			<form action="/profile/update" method="post" enctype="multipart/form-data">
				<div class="profile-update">
					<!-- idはuser.id -->
					<input type="hidden" name="id" th:value="${user.id}" />
					<div class="icon_name">
						<img th:src="@{/images/icon-images/{icon}(icon=${user.iconPath})}" alt="プロフィール画像" width="100" />
						<p>ユーザー名</p>
						<input type="text" name="username" th:value="${user.username}" placeholder="名前" />
						<span class="error-message" th:text="${usernameMessage} ?: ''"></span>
					</div>
					<div class="mail">
						<p>メールアドレス</p>
						<input type="text" name="mail" th:value="${user.mail}" placeholder="メールアドレス" />
						<span class="error-message" th:text="${mailMessage} ?: ''"></span>
					</div>
					<div class="password">
						<p>パスワード</p>
						<input type="password" name="password" th:value="${user.password}" placeholder="パスワード" />
						<span class="error-message" th:text="${passwordMessage} ?: ''"></span>
					</div>
					<div class="password-wrapper">
						<p>パスワード確認</p>
						<input type="password" name="password_confirm"th:value="${user.password}" placeholder="確認用パスワード" />
						<span class="error-message" th:text="${password_confirmMessage} ?: ''"></span>
						<span class="error-message" th:text="${message} ?: ''"></span>
					</div>

					<div class="bio">
						<p>自己紹介</p>
						<input type="text" name="bio" th:value="${user.bio}" placeholder="自己紹介" />
						<span class="error-message" th:text="${bioMessage} ?: ''"></span>
					</div>

					<div class="icon">
						<p>アイコン画像</p>
						<input type="file" id="iconPath" name="iconPath" accept=".jpg,.jpeg,.png,.bmp,.gif,.svg" />
						<span class="error-message" th:text="${iconMessage} ?: ''"></span>
					</div>

					<button type="submit">更新</button>

			</form>
		</div>
		<hr />
	</div>
	<script>
		document.getElementById('iconFile').addEventListener('change', function (event) {
			const file = event.target.files[0];
			if (file) {
				const reader = new FileReader();
				reader.onload = function (e) {
					document.getElementById('preview').src = e.target.result;
				}
				reader.readAsDataURL(file);
			}
		});
	</script>
	<!--右寄せ-->
	<div class="right-container">
		<div th:replace="side :: sidebar"></div>
	</div>
	</div>
</body>

</html>